{% extends 'base.html' %}

{% block content %}

<h2>Shopping Cart</h2>

<p>
    <strong>Total Items:</strong> {{ cart_count }}
</p>
{% for item in cart %}

    <table border="1" cellpadding="10" width="100%">

        <tr>
            <th width="20%">SKU</th>
            <th width="20%">Price</th>
            <th width="20%">Quantity</th>
            <th width="20%">Total</th>
        </tr>

        <tr>
            <td>{{ item.variant.sku }}</td>
            <td>₹{{ item.variant.price }}</td>
            <td>{{ item.quantity }}</td>
            <td>₹{{ item.total_price }}</td>
        </tr>

    </table>

    <br>

{% empty %}

    <p><strong>Cart is empty</strong></p>

{% endfor %}

{% if cart_count > 0 %}

<a class="btn"
   href="/orders/checkout/">
    Proceed to Checkout
</a>

{% endif %}

{% endblock %}