{% extends 'base.html' %}

{% block content %}

<h2>My Orders</h2>

{% if orders %}

<table border="1" cellpadding="10" width="100%">

    <tr>
        <th>Order ID</th>
        <th>Status</th>
        <th>Total</th>
        <th>Action</th>
    </tr>

    {% for order in orders %}

    <tr>

        <td>
            #{{ order.id }}
        </td>

        <td>
            {{ order.status }}
        </td>

        <td>
            ₹{{ order.total }}
        </td>

        <td>

            <a class="btn"
               href="{% url 'order_detail' order.id %}">
                View Details
            </a>

        </td>

    </tr>

    {% endfor %}

</table>

{% else %}

    <p>
        No Orders Found
    </p>

{% endif %}

{% endblock %}